@font-face {
  font-family: 'GothamRounded';
  src: url(../vendor/fonts/GothamRounded-Bold.otf);
  src: url(../vendor/fonts/GothamRounded-BoldItalic.otf);
  src: url(../vendor/fonts/GothamRounded-Book.otf);
  src: url(../vendor/fonts/GothamRounded-BookItalic.otf);
  src: url(../vendor/fonts/GothamRounded-Light.otf);
  src: url(../vendor/fonts/GothamRounded-LightItalic.otf);
  src: url(../vendor/fonts/GothamRounded-Medium.otf);
  src: url(../vendor/fonts/GothamRounded-MediumItalic.otf);
  src: url(../vendor/fonts/GothamRoundedBold_21016.ttf);
  src: url(../vendor/fonts/GothamRoundedBook_21018.ttf);
  src: url(../vendor/fonts/GothamRoundedLight_21020.ttf);
  src: url(../vendor/fonts/GothamRoundedMedium_21022.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'GothamRounded';
}

.card h2 {
  font-size: 18px;
  color: #16a085;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.card p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
  color: #9c9d9d;
}

.btn_style {
  background-color: #16a085;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 20px 40px;
  outline: none;
  border-radius: 5px;
  font-family: 'GothamRounded';
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn_style:hover {
  background-color: white;
  color: #16a085;
  border: 1px solid #16a085;
}

.box_style {
  width: 240px;
  text-align: left;
  background-color: #1abc9c;
  line-height: 50px;
  letter-spacing: 2px;
  padding-left: 25px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.btn_store {
  width: 50px;
  height: 50px;
  color: white;
  background-color: #16a085;
  border: none;
  outline: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 25px;
  line-height: 50px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn_store:hover {
  background-color: #1abc9c;
}

.row:before,
.row:after {
  content: " ";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*column width*/
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-5 {
  margin-left: 41.66%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33%;
}

.col-offset-8 {
  margin-left: 66.66%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33%;
}

.col-offset-11 {
  margin-left: 91.66%;
}

header {
  background-image: url("/images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

header nav ul {
  list-style: none;
  text-align: center;
}

header nav ul li {
  float: left;
  width: 20%;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  padding: 80px;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

header nav ul li a:hover {
  color: #16a085;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header nav ul li a img {
  margin-top: -30px;
}

header .title {
  text-align: center;
  color: white;
}

header .title h1 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 200px;
  margin-bottom: 15px;
}

header .title h3 {
  letter-spacing: 3.5px;
  font-weight: 300;
}

header .title button.btn_style {
  margin-top: 35px;
}

.icons {
  text-align: center;
  font-size: 30px;
  margin-top: 20vh;
}

.icons a {
  color: white;
  padding: 0 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

.icons a:hover {
  color: #16a085;
}

.second {
  background-color: #f5f6f7;
  height: 492px;
  overflow-y: hidden;
}

.second .second_content.card {
  margin-top: 80px;
}

.second .second_content.card button.btn_style {
  margin-top: 50px;
}

.second .second_photo figure {
  position: relative;
}

.second .second_photo figure img {
  max-width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  top: 62px;
}

.third {
  height: 50vh;
}

.third .third_mobile figure {
  position: relative;
}

.third .third_mobile figure img {
  position: absolute;
  left: 0;
  top: 10vh;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.third .main-carousel {
  margin-top: 80px;
  position: relative;
  width: 100%;
}

.third .main-carousel .carousel-cell {
  width: 100%;
  padding: 8px;
}

.third .btn_style {
  margin-top: 35px;
}

.third .flickity-prev-next-button {
  top: 270px;
}

.third .flickity-prev-next-button.next {
  left: 50px;
}

.fourth {
  background-color: #f5f6f7;
  padding-top: 80px;
  padding-bottom: 80px;
}

.fourth .fourth_content {
  text-align: center;
}

.fourth .fourth_content figure img {
  max-width: 100%;
  height: auto;
}

.fourth .fourth_content h3 {
  text-transform: uppercase;
  margin: 16px 0;
  letter-spacing: 2px;
  font-size: 16px;
}

.fourth .fourth_content p {
  color: #9c9d9d;
  font-size: 10px;
  width: 50%;
  margin: 0 auto;
  line-height: 1.5;
}

.fourth .carousel .carousel-cell {
  width: 38%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
}

.fourth .carousel .carousel-cell img {
  max-width: 100%;
  height: 100%;
}

.fifthy {
  height: 90vh;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fifthy .subscribe {
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 35vh;
}

.fifthy .subscribe h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.fifthy .subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fifthy .subscribe form input {
  display: inline-block;
  width: 282px;
  height: 60px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: small;
  letter-spacing: 1px;
  padding-left: 15px;
  border: none;
  outline: none;
}

.fifthy .subscribe form button {
  width: 60px;
  height: 60px;
  background-color: #16a085;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.fifthy .subscribe form button span {
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.fifthy .subscribe form button:hover span {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.fifthy .subscribe form button:hover {
  background-color: #1abc9c;
}

.seventh {
  background-color: #f5f6f7;
  padding-top: 80px;
  padding-bottom: 110px;
}

.seventh .content_box {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.seventh .content_box h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.seventh .content_box p {
  color: #9c9d9d;
  font-size: 12px;
  line-height: 2;
}

.seventh .green_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  color: white;
  text-transform: uppercase;
}

.seventh .green_box .apple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
}

.seventh .green_box .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

footer .info p:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  background-color: #16a085;
  margin-left: 5px;
}

footer .info p:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  background-color: #16a085;
  margin-left: 5px;
}

footer .info p {
  padding-right: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
}

footer .copyright {
  letter-spacing: 1px;
}

footer .camera_icon {
  text-align: right;
}

footer .camera_icon img {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */