@font-face {
    font-family: 'GothamRounded';
    src: url(../vendor/fonts/GothamRounded-Bold.otf);
    src: url(../vendor/fonts/GothamRounded-BoldItalic.otf);
    src: url(../vendor/fonts/GothamRounded-Book.otf);
    src: url(../vendor/fonts/GothamRounded-BookItalic.otf);
    src: url(../vendor/fonts/GothamRounded-Light.otf);
    src: url(../vendor/fonts/GothamRounded-LightItalic.otf);
    src: url(../vendor/fonts/GothamRounded-Medium.otf);
    src: url(../vendor/fonts/GothamRounded-MediumItalic.otf);
    src: url(../vendor/fonts/GothamRoundedBold_21016.ttf);
    src: url(../vendor/fonts/GothamRoundedBook_21018.ttf);
    src: url(../vendor/fonts/GothamRoundedLight_21020.ttf);
    src: url(../vendor/fonts/GothamRoundedMedium_21022.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    margin: 0;
    font-family: 'GothamRounded';
}