.second {
    background-color: $color-basic-gray;
    height: 492px;
    overflow-y: hidden;

    .second_content {
        margin-top: 80px;


        h2 {
            font-size: 18px;
            color: $color-basic-green;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }

        p {
            font-size: 12px;
            line-height: 2;
            letter-spacing: 1px;
            color: $color-letters-gray;
        }

        button {
            @include btn;
            margin-top: 50px;

            &:hover {
                background-color: $color-basic-white;
                color: $color-basic-green;
                border: 1px solid $color-basic-green;
            }

        }
    }

    .second_photo {
        figure {
            position: relative;

            img {
                max-width: 100%;
                height: auto;
                position: absolute;
                right: 0;
                top: 62px;
            }


        }
    }


}