.second {
    background-color: $color-basic-gray;
    height: 492px;
    overflow-y: hidden;

    .second_content.card {
        margin-top: 80px;

        button.btn_style {
            margin-top: 50px;
        }
    }

    .second_photo {
        figure {
            position: relative;

            img {
                max-width: 100%;
                height: auto;
                position: absolute;
                right: 0;
                top: 62px;
            }

        }
    }

}