.third {
    height: 50vh;

    .third_mobile {

        figure {
            position: relative;

            img {
                position: absolute;
                left: 0;
                top: 10vh;
                max-width: 100%;
                height: auto;
                z-index: -1;
            }
        }
    }

    .main-carousel {
        margin-top: 80px;
        position: relative;
        width: 100%;


        .carousel-cell {
            width: 100%;
            padding: 8px;
        }

    }

    .btn_style {
        margin-top: 35px;
    }

    .flickity-prev-next-button {
        top: 270px;
    }

    .flickity-prev-next-button.next {
        left: 50px;
    }
}