.third {
    height: 50vh;
    overflow-y: hidden;

    .third_mobile {

        figure {
            position: relative;

            img {
                position: absolute;
                left: 0;
                top: 10vh;
                max-width: 100%;
                height: auto;
            }
        }
    }

    .main-carousel {
        margin-top: 80px;
        position: relative;
        width: 100%;

        .carousel-cell {
            width: 100%;
        }
    }

    .btn_style {
        margin-top: 50px;
    }

    .flickity-prev-next-button {
        top: 300px;
    }

    .flickity-prev-next-button.next {
        left: 50px;
    }
}