// colors

$color-basic-white:rgb(255, 255, 255);
$color-basic-green:rgb(22, 160, 133);
$color-basic-gray:rgb(245, 246, 247);
$color-letters-gray:rgb(156, 157, 157);


.card {
    h2 {
        font-size: 18px;
        color: $color-basic-green;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    p {
        font-size: 12px;
        line-height: 2;
        letter-spacing: 1px;
        color: $color-letters-gray;
    }
}

.btn_style {
    background-color: $color-basic-green;
    color: $color-basic-white;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 20px 40px;
    outline: none;
    border-radius: 5px;
    font-family: 'GothamRounded';
    letter-spacing: 2px;
    cursor: pointer;
    transition: .5s;

    &:hover {
        background-color: $color-basic-white;
        color: $color-basic-green;
        border: 1px solid $color-basic-green;
    }
}